body {background-color: crimson;}
img {width:100px; border-radius: 50px; float:right; margin-right: 10px;}
h1.username {font-weight: bolder;}
input.edit {float:right; margin-right: 5px;}
table,tr,td {border: 3px solid;}
table.center { 
    margin-right: auto; 
    margin-left: auto;
}
#edit {float:right}
input { border: 1px solid black;}
a { background-color:rgb(17, 14, 110);
    color:bisque;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;

}
